[submodule "vendor/raddebugger"]
	path = vendor/raddebugger
	url = https://github.com/EpicGames/raddebugger.git
[submodule "vendor/box3d"]
	path = vendor/box3d
	url = https://github.com/erincatto/box3d.git
[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "vendor/cimgui"]
	path = vendor/cimgui
	url = https://github.com/cimgui/cimgui.git
